* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    /*background: cornflowerblue;*/
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 1px solid red;
}

.inner {
    height:120px;
    width: 120px;

}